<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bán đồ trẻ em</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">
	<link rel="stylesheet" href="css/class.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>
	<div id="wrapper">
		<header>
			<!-- hd-top---> 
			<div class="container">
				<div class="row hd_suport">
					<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 hd_call"><i class="fas fa-phone"></i><span>Hotline:0373073645</span></div>
					<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 sp_mid">
						<ul class="hd_log">
							<li>
								<i class="fas fa-edit"></i>Kiểm tra đơn hàng
							</li>
							<li>
								<i class="fas fa-shopping-cart"></i>Giỏ hàng
							</li>
							<li>
								<i class="fas fa-sign-in-alt"></i>Đăng nhập
							</li>
							<li>
								<i class="fas fa-key"></i>Đăng kí
							</li>
						</ul>
					</div>
				</div>
				<!--hd-top-->
				<div class="row hd_logo">
					<div class="col-md-3 col-sm-6  logo">
						<img src="image/logo.png" alt="">
					</div>
					<div class="col-md-6 col-sm-8 ">
						<form class="form-inline my-2 my-lg-0 pt-5 " action="/">
							<input type="text"  class="form-control col-10" placeholder="Tìm kiếm..." aria-label="Recipient's username" aria-describedby="button-addon2" id="seach_sp" >
								<button class="input-group-append col-2 btn btn-outline-secondary fas fa-search fa-sm" type="button" id="button-addon2"></button>

						</form>
					</div>
					<div class="col-md-3 col-sm-4 ">
						<div class="hd_shop my-2 my-lg-0 pt-5 ">
							<i class="fas fa-cart-plus fa-lg"></i>
							<span>0sp- 0đ<i class="fas fa-arrow-right"></i></span>

						</div>

					</div>
				</div>
		</div>

					<div class="container">
						<nav class="navbar navbar-expand-lg navbar-light bg-light row ">
							<a class="navbar-brand" href="#"></a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>

							<div class="collapse navbar-collapse" id="navbarSupportedContent" style="background: darkgrey;  width: 100%">
								<ul class="navbar-nav mr-auto">
									<li class="nav-item active">
										<a class="nav-link" href="#">TRANG CHỦ <span class="sr-only">(current)</span></a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">GIỚI THIỆU</a>
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link " href="#">
											SẢN PHẨM
										</a>
									
									</li>
									<li class="nav-item">
										<a class="nav-link disabled" href="#">TIN TỨC</a>
									</li>
									<li class="nav-item">
										<a class="nav-link disabled" href="#">LIÊN HỆ</a>
									</li>
								</ul>

							</div>
						</nav>
					</div>
			
		</header>
		
		<!--close-header-->


		<div class="container" style="height: 6700px; ">   <!-- ====chieu dai cua cai content======= -->
			<div class="row">
	
				<div class="col-md-3 col-12" style="  width:272px;
				height: 6700px;
				background: #ffff" >
						<div class="menu-product">
								<h3>
									<span>
										SẢN PHẨM
									</span>
								</h3>
							<ul class="sub_menu" style="padding-left: 0">
								<li class="child"><a href="#">Quần áo bé trai<i class="fas fa-angle-right"></i></a>
									<ul class="submenu" style="padding-left: 0">
										<li><a href="#">Quần bé trai</a></li>
										<li><a href="#">Áo, áo khoác bé trai</a></li>
										<li><a href="#">Đồ bộ bé trai</a></li>
									</ul>
								</li>
								<li class="child"><a href="#">Quần áo bé gái<i class="fas fa-angle-right"></i></a>
									<ul class="submenu" style="padding-left: 0">
										<li><a href="#">Quần bé gái</a></li>
										<li><a href="#">Áo, áo khoác bé gái</a></li>
										<li><a href="#">Đầm váy bé trái</a></li>
										<li><a class="active" href="#">Đồ bộ bé gái</a></li>
									</ul>
								</li>
								<li class="child"><a href="#">Quần áo bé sơ sinh<i class="fas fa-angle-right"></i></a>
									<ul class="submenu" style="padding-left: 0">
										<li><a href="#">Phụ kiện cho bé sơ sinh</a></li>
										<li><a href="#">Quần cho bé sơ sinh</a></li>
										<li><a href="#">Áo cho bé sơ sinh</a></li>
									</ul>
								</li>
							</ul>
						</div>

						
						<div class="menu2">
								<h3>
									<span>
										CHÍNH SÁCH BÁN HÀNG
									</span>
								</h3>
							<ol type="1" id="menu2_ol">
								<li>Giao hàng toàn quốc</li>
								<li>Thanh toán khi nhận hàng</li>
								<li>Đổi trả trong <span style="color: chocolate">15 ngày</span></li>
								<li>Hoàn ngay tiền mặt</li>
								<li>Chất lượng Đảm bảo</li>
								<li>Miễn phí vật chuyển:<span style="color: chocolate">đơn hàng từ 3 trở lên</span></li>
							</ol>
						</div>

						<div class="menu2">
								<h3>
									<span>
										Hướng dẫn mua hàng
									</span>
								</h3>
							<ol type="1" id="menu2_ol">
								<li>Mua hàng trực tuyến tại website http://www.runtime.vn</li>
								<li>Gọi điện thoại <span style="color: fuchsia">012345789</span> để mua hàng</li>
								<li>Mua tại trung tâm cskh <span style="color:fuchsia">680vxnt-p.25-Bình thạch-Hồ Chí Minh</span>xem trên bản đồ</li>
								
								<li>Mua sỉ/buôn gọi:<span style="color: fuchsia">113</span>để hỗ trợ</li>
							</ol>
						</div>

						<div class="menu2">
								<h3>
									<span>
										HỖ TRỢ TRỰC TUYẾN
									</span>
								</h3>
								
								<ul class="menu4">
									<li style="font-weight: 400;text-align: center">HOTLINE</li>
									<LI style="text-align: center; color: fuchsia">0123456789</LI>
									<li style="text-align: center">Thanh ngọc</li>
								</ul>
							
						</div>

						<div class="menu3" >
								<h3>
									<span>
											SẢN PHẨM HOT
									</span>
								</h3>
						</div>
								<div class="truot">
									
								


									<div class="image image-resize">
											<a href="#" title="NÓN BO ĐÍNH 2 MẮT TRÒN">
												<img class="img-responsive" src="image/cai-mu-dau.jpg" width="255px" height="207px" title="NÓN BO ĐÍNH 2 MẮT TRÒN">
												<img class="replace-img img-responsive hidden-xs" src="image/cai-mu-dau.jpg" width="255px" height="207px" >
											</a>
											<span class="view-more"><a href="#" class="btn btn-primary">Xem thêm</a></span>
									</div>

										<span>Nón bo đính 2 mắt tròn</span><br>
										<span style="color: deeppink">99,000₫</span><br>
										<input type="button" value="mua">

										<div class="image image-resize">
												<a href="#" title="NÓN BO ĐÍNH 2 MẮT TRÒN">
													<img class="img-responsive" src="image/cai-ao-2.jpg" width="255px" height="207px" title="NÓN BO ĐÍNH 2 MẮT TRÒN">
													<img class="replace-img img-responsive hidden-xs" src="image/cai-ao-2.jpg" width="255px" height="207px" >
												</a>
												<span class="view-more"><a href="#" class="btn btn-primary">Xem thêm</a></span>
										</div>
	
											<span>Nón bo đính 2 mắt tròn</span><br>
											<span style="color: deeppink">99,000₫</span><br>
											<input type="button" value="mua">


											<div class="image image-resize">
													<a href="#" title="NÓN BO ĐÍNH 2 MẮT TRÒN">
														<img class="img-responsive" src="image/3.jpg" width="255px" height="207px" title="NÓN BO ĐÍNH 2 MẮT TRÒN">
														<img class="replace-img img-responsive hidden-xs" src="image/3.jpg" width="255px" height="207px" >
													</a>
													<span class="view-more"><a href="#" class="btn btn-primary">Xem thêm</a></span>
											</div>
		
												<span>Nón bo đính 2 mắt tròn</span><br>
												<span style="color: deeppink">99,000₫</span><br>
												<input type="button" value="mua">
											

												<div class="image image-resize">
														<a href="#" title="NÓN BO ĐÍNH 2 MẮT TRÒN">
															<img class="img-responsive" src="image/4.jpg" width="255px" height="207px" title="NÓN BO ĐÍNH 2 MẮT TRÒN">
															<img class="replace-img img-responsive hidden-xs" src="image/4.jpg" width="255px" height="207px" >
														</a>
														<span class="view-more"><a href="#" class="btn btn-primary">Xem thêm</a></span>
												</div>
			
													<span>Nón bo đính 2 mắt tròn</span><br>
													<span style="color: deeppink">99,000₫</span><br>
													<input type="button" value="mua">
								</div>
							
							
					

				
				</div>


			
			




				<div class="col-md-9 col-12">
					<div class="subheader">
							<ul>
								<li><a href="http://runecom62.runtime.vn/trang-chu.html"><span>Trang chủ<i class="fas fa-angle-double-right"></i></span></a></li>
								<li><a href="#"><span>quần áo bé gái<i class="fas fa-angle-double-right"></i></span></a></li>
								<li><a href="#"><span>Đồ bộ bé gái<i class="fas fa-arrow-circle-down"></i><i class="fas fa-angle-double-right"></i></span></a>
										<ul id="sub2">
											<li><a href="#">quần áo bé gái</a></li>
											<li><a href="#">áo, áo khoác bé gái</a></li>
											<li><a href="#">đầm váy bé gái</a></li>
											<li><a href="#">bộ đồ bé gái</a></li>
										</ul>
								
								</li>
								<li style="color: crimson"><a href="#"><span>Bộ quần áo trẻ em gái hình tim đính mơ</span></a></li>
							</ul>
					</div>
					
				<div class="content">
					<div class="content-top">
						<div class="content-left" style="width: 400px; height: 400px" >
							<figure class="zoom" style="background-image:url(image/anhzoom.jpg);width: 400px" onmousemove="zoom(event)" ontouchmove="zoom(event)">
								<img src="image/anhzoom.jpg" width="400px" />
							</figure>
						</div>
						<div class="content-right" style="width:400px;">
							<p style="font-size: 21px; font-weight: 400">Bộ quần áo trẻ em gái hình tim đính nơ</p>
							<p style="color: deeppink;font-size: 30px;font-weight: 400;">98.000đ</p>
							<p>mã sp:</p>
							<hr>
							<span style="font-size: 15px">Những bộ quần áo trẻ em gái sát tay mang đến cho bé yêu sự thoải mái, 
								dễ thương rất thích hợp với thời tiết mùa hè</span>


								<div class="like">
								<button  id="show" style="background: mediumblue">like</button>
								<i class="fas fa-thumbs-up fa-2x" style="color: mediumblue;"></i>
								</div>
								<div class="chiase" style="width: 250px; height: 150px;">
											<ul><li><a href="#"><i class="fas fa-bible"></i>chia sẻ</a>
														<ul class="face">
															<li><a href="#"><i class="fab fa-facebook-square"></i>FACEBOOK</a></li>
															<li><a href="#"><i class="fab fa-twitter"></i>twitter</a></li>
															<li><a href="#"><i class="fas fa-envelope-square"></i>email</a></li>
															<li><a href="#"><i class="fas fa-sign-in-alt"></i>in</a></li>
															<li><a href="#"><i class="far fa-envelope-open"></i>Gmail</a></li>
														</ul>
												</li>
										</ul>
								</div>
								<!-- thiếu phần like -->

								<p>số lượng</p>
								
								<input style="width: 100px" type="number" value="1" class="text ng-valid ng-dirty ng-valid-number ng-touched" ng-model="InputQuantity" ng-init="InputQuantity=1"><br>
								<div class="mua"><i class="fas fa-shopping-bag"></i>Mua ngay</div>
								<div>Để lại số điện thoại chúng tôi sẽ tư vấn cho các bạn trong từ 5 tới 10 phút:</div>
								
								<input id="input1" class="form-control ng-pristine ng-valid ng-touched" ng-model="CustomerPhone" onblur="if(this.value=='')this.value='Nhập số điện thoại...'" onfocus="if(this.value=='Nhập số điện thoại...')this.value=''" value="Nhập số điện thoại..." type="text">
								<button id="input2" class="btn btn-primary" type="button" ng-click="callMe()"><i class="fa fa-phone"></i> Gọi lại cho tôi</button>
							
						</div>
					</div>
							<div class="content-bot">
									<span id="chitiet">Chi tiết sản phẩm</span>
									<hr>
									<p>ĐIỂM NỔI BẬT</p>

									<p>	- Chất liệu: vải thun cotton thoáng mát, hút ẩm tốt và thân thiện làn da nhạy cảm của trẻ em.</p>

									<p>- Họa tiết dành riêng cho bé gái đặc biệt dễ thương với áo hình tim đính nơ, quần short năng động.</p>

									<p>	- Thiết kế khỏe khoắn áo sát tay, quần ngắn giúp bé thoải mái vui đùa suốt mùa hè</p>

									<img src="image/anhzoom.jpg" width="578px" height="800px"> 
									<img src="image/ct-10.jpg" width="578px" height="800px">
								
									<img src="image/4.jpg" width="578px" height="800px">
									<img src="image/ct-3.jpg" width="578px" height="800px">
									<img src="image/3.jpg" width="578px" height="800px">
									<img src="image/ct-8.jpg" width="578px" height="800px">
									<img src="image/ct-2.jpg" width="578px" height="800px">
							</div>
							
						
					</div>
				</div>
				
			</div>
	
		</div>

		


		<div class="container" style="height: 300px; background:#ffff ;border-top:1px solid dimgrey" >
			<div style="font-size: 20px;color: fuchsia;">Đối tác</div>
				<div class="row">
					<div class="col-md-3 col-xl-3 col-12">
						<div class="hieuung1">
							
									<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" >
											<div class="carousel-inner">
											<div class="carousel-item active">
												<img class="d-block w-100" src="image/hu4.PNG"  width="200px" height="200px" alt="First slide">
											</div>
											<div class="carousel-item">
													<img class="d-block w-100" src="image/hu5.PNG"   width="200px" height="200px" alt="Second slide">
												
											</div>
											<div class="carousel-item">
												<img class="d-block w-100" src="image/hu1.PNG"   width="200px" height="200px" alt="Second slide">
											</div>
											</div>
										</div>
						</div>
					</div>
					<div class="col-md-3 col-xl-3 col-12">
						<div class="hieuung2">
							<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
									<div class="carousel-inner">
									<div class="carousel-item active">
										<img class="d-block w-100" src="image/hu5.PNG"  width="200px" height="200px" alt="First slide">
									</div>
									<div class="carousel-item">
											<img class="d-block w-100" src="image/hu1.PNG"   width="200px" height="200px" alt="Second slide">
									</div>
									<div class="carousel-item">
											<img class="d-block w-100" src="image/moi.PNG"   width="200px" height="200px" alt="Second slide">
									</div>
									</div>
								</div>
						</div>
					</div>
			
					
					<div class="col-md-3 col-xl-3 col-12">
						<div class="hieuung2">
								<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" >
									<div class="carousel-inner">
										<div class="carousel-item active">
										<img class="d-block w-100" src="image/hu1.PNG"  width="200px" height="200px" alt="First slide">
										</div>
										<div class="carousel-item">
												<img class="d-block w-100" src="image/moi.PNG"   width="200px" height="200px" alt="Second slide">
										</div>
										<div class="carousel-item">
												<img class="d-block w-100" src="image/hu2.PNG"   width="200px" height="200px" alt="Second slide">
										</div>
									</div>
									</div>
						</div>
					</div>
					<div class="col-md-3 col-xl-3 col-12">
						<div class="hieuung2">
								<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" >
									<div class="carousel-inner">
										<div class="carousel-item active">
										<img class="d-block w-100" src="image/moi.PNG"  width="200px" height="200px" alt="First slide">
										</div>
										<div class="carousel-item">
												<img class="d-block w-100" src="image/hu2.PNG"   width="200px" height="200px" alt="Second slide">
										</div>
										<div class="carousel-item">
												<img class="d-block w-100" src="image/hu4.PNG"  width="200px" height="200px" alt="First slide">
										</div>
									</div>
									</div>
						</div>
					</div>


				  </div>
				
				
		</div>
	<!--open-footer-->
	
			
						<div class="container" style="background: #393939;">
					<div class="row">
						<div class="col-lg-3 col-md-12 ft-1 mt-5">
							<img src="image/logo.png" alt="">
							<p>Bán đồ trẻ em</p>
							<p><i class="fas fa-map-marker-alt pr-2"></i>Nam Từ Liên, Hà Nội</p>
							<p><i class="fas fa-envelope pr-2"></i>dat26011998@gmail.com</p>
							<p><i class="fas fa-phone pr-2"></i>0325807700</p>
						</div>
						<div class="col-lg-3 col-md-12 mt-5">
							<h5>GIỚI THIỆU</h5>
							<ul>
								<li>Về chúng tôi</li>
								<li>Lĩnh vực hoạt động</li>
								<li>Tuyển dụng</li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-12 ft-3 mt-5">
							<h5>TRỢ GIÚP</h5>
							<ul>
								<li>Hướng dẫn thanh toán</li>
								<li>Quy định đổi trả</li>
								<li>Chín sách bán hàng</li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-12 ft-4 mt-5">
							<h5>FACEBOOK</h5>
							<i class="fab fa-google-plus-g"></i>
							<i class="fab fa-facebook-f"></i>
							<i class="fab fa-youtube"></i>
							<i class="fab fa-twitter"></i>
						</div>
					</div>
			
				<a href="#" id="back-to-top" title="Back to top"><i class="fas fa-level-up-alt"></i></a>
				</div>

		
	<!--close-header-->
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="js/custom.js"></script>

	</body>
	</html>